.top-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logo > img{
    height: 16vh;
    width: 9vw;
    font:bolder;
    margin-left: -16vw;
}

.top-nav-right{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: -14vw;
}


.asia-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #3c423e;
    padding-right: 2vw;
    margin-top: 7vh;
    font-size: 18px;
}

.ghana-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #3c423e;
    font-size: 18px;
}

.ghana-contact p, .asia-contact p{
    font-family: 'Comfortaa', cursive;
}

.languages-container{
    width: 100%;
}

.menu-section{
    width: 100%;
    height: 4vw;
    background-color: #3c423e;
    color: aliceblue;

}

.menu-section{
    padding: 2vh 2vw;
    display: flex;
    justify-content: space-evenly;
    font-size: 18px;
}

.menu-section > Link{
    text-decoration: none;
    color: aliceblue;
}
